<!-- -----------------------------------------SECTION 4 EDUCATION ------------------------------------ -->
	<section id="education">
		<div class="container">
			<div class="blue-divider"></div>
			<div class="heading">
				<h2>education</h2>
			</div>
			<div class="row">
				<div class="col-1 col-lg-4 col-xl-4">
					<div class="education-block">
						<h5>De Sept 2018 à Fev 2019</h5>
						<span class="glyphicon glyphicon-education"></span>
						<h3>Formation Développeur web et mobile</h3>
						<h4>Wild Code School à La Loupe</h4>
						<div class="blue-divider"></div>
						<p> JavaScript, TypeScript, Angular 6 / JEE</p>
					</div>
				</div>
				<div class="col-1 col-lg-4 col-xl-4">
					<div class="education-block">
						<h5>De juil 2018 à sept 2018</h5>
						<span class="glyphicon glyphicon-education"></span>
						<h3>Formation Développeur Ruby on Rails</h3>
						<h4>The Hacking project à PARIS</h4>
						<div class="blue-divider"></div>
						<p> Ruby, Bot Twitter avec Ruby, Scrapping avec Ruby</p>
						<p> Ruby on rails, Jquery </p>

					</div>
				</div>
				<div class="col-1 col-lg-4 col-xl-4">
					<div class="education-block">
						<h5>Mai 2018</h5>
						<span class="glyphicon glyphicon-education"></span>
						<h3>Formation online "Développeur Web"</h3>
						<h4>Apprendre-a-coder.com </h4>
						<div class="blue-divider"></div>
						<p>HTML/CSS, Bootstrap, JavaScript</p>
						<p>Responsive Design</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-1 col-lg-4 col-xl-4">
					<div class="education-block">
						<h5> De 2016 à 2017</h5>
						<span class="glyphicon glyphicon-education"></span>
						<h3>L1 M2IPC</h3>
						<h4>UFR Sciences Fondamentales et Appliquées POITIERS</h4>
						<div class="blue-divider"></div>
						<p>Première année de licence informatique</p>
						<p>M2IPC:  Mathematique Informatique Ingénierie Physique Chimie </p>
					</div>
				</div>
				<div class="col-1 col-lg-4 col-xl-4">
					<div class="education-block">
						<h5> 2015</h5>
						<span class="glyphicon glyphicon-education"></span>
						<h3>Baccalauréat générale Scientifique</h3>
						<h4>Lycée polyvalent de Chirongui Chirongui (MAYOTTE)</h4>
						<div class="blue-divider"></div>
						<p>BAC S Spécialité:</p>
						<p>Informatique et Science du Numérique</p>
					</div>
				</div>
			</div>
		</div>
	</section>