<!-- -----------------------------------------SECTION 1 GENERAL -------------------------------------- -->
	<section id="about" class="container-fluid">
		<div class="col-xs-8 col-md-4 profile-picture">
			<img src="img/noprofile.gif" alt="Madi" class="img-circle">
		</div>
		<div class="heading">
			<h1>MADI Nafindra abdou</h1>
			<h3>Dévelloppeur Web</h3>
			<a href="docs/CV_Madi.pdf" class="button1"  target="_blank">Télécharger CV</a>
		</div>
	</section>