<!-- ----------------------------------------SECTION 2 COMPETENCES ----------------------------------- -->
	<section id="skills">
		<div class="blue-divider"></div>
		<div class="heading">
			<h2>Compétences</h2>
		</div>
		<div class="container">
			<div class="row">
<!-- HTML CSS BTSP -->
				<div class="col-md-6">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:95%" >
							<h5>HTML 95%</h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:95%" >
							<h5>CSS 95%	</h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:95%" >
							<h5>BOOTSTRAP 95%</h5>
						</div>
					</div>
				</div>
<!-- RUBY RAILS JQUERY-->
				<div class="col-md-6">
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%" >
							<h5>RUBY 85%</h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:30%" >
							<h5>RUBY ON RAILS 30%</h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:3%" >
							<h5>JQUERY 3%</h5>
						</div>
					</div>
				</div>
			</div>
<!-- JS ANGULAR TS -->
			<div class="row">

				<div class="col-md-6">
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%" >
							<h5>JAVASCRIPT 50%</h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%" >
							<h5>Angular 5%	</h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%" >
							<h5>TYPESCRIPT 5%</h5>
						</div>
					</div>
				</div>

				<!-- <div class="col-md-6">
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%" >
							<h5>RUBY 85%</h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:30%" >
							<h5>RUBY ON RAILS 30%</h5>
						</div>
					</div> -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:90%" >
							<h5>PYTHON 90%</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>