<!-- ----------------------------------------SECTION 2 COMPETENCES ----------------------------------- -->
	<section id="skills">
		<div class="blue-divider"></div>
		<div class="heading">
			<h2>Compétences</h2>
		</div>
		<div class="container">
			<div class="row">
<!-- HTML CSS BTSP -->
				<div class="col-12 col-lg-6 col-xl-6">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
							<h5>HTML 5 / CSS 3</h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
							<h5>BOOTSTRAP</h5>
						</div>
					</div>
				</div>
<!-- RUBY RAILS JAVA JEE-->
				<div class="col-12 col-lg-6 col-xl-6">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
							<h5>RUBY / RUBY ON RAILS </h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" >
							<h5>JAVA / JEE</h5>
						</div>
					</div>
				</div>
<!-- JS ANGULAR TS JQUERY-->

				<div class="col-12 col-lg-6 col-xl-6">

					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
							<h5>JAVASCRIPT / TYPESCRIPT / JQUERY </h5>
						</div>
					</div>
					<div class="progress" role="progressbar">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
							<h5>ANGULAR 6</h5>
						</div>
					</div>

				</div>
<!-- PYTHON IONIC-->
				<div class="col-12 col-lg-6 col-xl-6">

					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
							<h5>PYTHON</h5>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%" >
							<h5>IONIC</h5>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>