<!-------------------------------------------SECTION 5 PORTFOLIO-------------------------------------------->
	<section id="portfolio" >
		<div class="container">
			<div class="white-divider"></div>
			<div class="heading">
				<h2>Github</h2>
			</div>
			<div class="row ">

				<div class="col-12 mygithub">
					<a class="github" href="https://github.com/MadiNaf" target="_blank">
						<img src="https://i.postimg.cc/HkktNVT1/github.jpg" alt="github Madi nafindra">
					</a>
				</div>
							
			</div>				
		</div>
	</section>