<!-------------------------------------------SECTION 5 PORTFOLIO-------------------------------------------->
	<section id="portfolio" >
		<div class="container">
			<div class="white-divider"></div>
			<div class="heading">
				<h2>Github</h2>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<a class="thumbnail" href="https://github.com/MadiNaf?tab=repositories" target="_blank">
						<img src="img/github_thp.png" alt="github thp">
					</a>
				</div>
				<div class="col-sm-6">
					<a class="thumbnail" href="html/github_perso.html" target="_blank">
						<img src="img/github_perso.png" alt="github personnel">
					</a>
				</div>					
			</div>				
		</div>
	</section>