<!-- -----------------------------------------SECTION 4 EDUCATION ------------------------------------ -->
	<section id="Projet">
		<div class="container">
			<div class="blue-divider"></div>
			<div class="heading">
				<h2>Projet perso</h2>
			</div>
			<div class="row">
				<div class="col-1 col-lg-4 col-xl-4">
					<div class="education-block">
						<h5>De Sept 2018 à Fev 2019</h5>
						<span class="glyphicon glyphicon-education"></span>
						<h3>Formation Développeur web et mobile</h3>
						<h4>Wild Code School à La Loupe</h4>
						<div class="blue-divider"></div>
						<p> JavaScript, TypeScript, Angular</p>
					</div>
				</div>
			</div>
		</div>
	</section>