<!-- -----------------------------------------SECTION 4 PROJET PERSO ------------------------------------ -->
	<section id="Projet">
		<div class="container">
			<div class="blue-divider"></div>
			<div class="heading">
				<h2>Projet perso</h2>
			</div>

			 <div class="row">
				<div class="col-1 col-lg-4 col-xl-4">
					<div class="education-block">
						<div>
							<img class="project-logo" src="https://i.postimg.cc/J0nydLyn/cv.jpg" alt="mdp.space logo">
						</div>
						<h4>MON CV EN SITE WEB</h4>
						<div class="blue-divider"></div>
						<p>Il s'ajit tout simplement de ce site ou vous vous trouver actuellement</p>
						<div class="blue-divider"></div>
						<p>le lien vers <a href="https://github.com/MadiNaf/mycv-app" target="_blanck">Github</a></p>
					</div>
				</div>

				<div class="col-1 col-lg-4 col-xl-4">
					<div class="education-block">
						<div>
							<img class="project-logo" src="https://i.postimg.cc/Bv4nV0k0/weather.jpg" alt="weather icon">
						</div>
						<h4>WEATHER APP</h4>
						<div class="blue-divider"></div>
						<p>Il s'ajit d'une application qui donne la météo. c'est ma premiere avec ionic</p>
						<p>
							Le but de cette application était de faire mes premmier
							pas avec ionic, et utiliser l'API <a href="https://openweathermap.org/" target="_blanck">openweathermap</a>
						</p>
						<div class="blue-divider"></div>
						<p>
							le lien vers <a href="https://github.com/MadiBlh/weatherApp" target="_blanck">Github</a>
						</p>
						<p>
							le lien pour la <a href="https://drive.google.com/file/d/12i62RyfjYUxTN9NMMwrKt4sa0gfh89tE/view?usp=sharing" target="_blanck">Telecharger</a>
						</p>
					</div>
				</div>
			</div>

		</div>
	</section> 
