<!-------------------------------------------SECTION 5 PROJET PRO-------------------------------------------->
<section id="projet-pro" >
	<div class="container">
		<div class="white-divider"></div>
		<div class="heading">
			<h2>Autre Projet</h2>
		</div>
		<div class="row">
			
			<div class="col-1 col-lg-4 col-xl-4">
				<div class="education-block">
					<div>
						<img class="project-logo" src="https://i.postimg.cc/dQyj2MMB/mdp-space.jpg" alt="mdp.space logo">
					</div>
					<h4>MPD.SPACE</h4>
					<div class="blue-divider"></div>
					<p>mdpSpace est notre notre 2ème projet en tant que wilder à la <a href="https://wildcodeschool.fr/">wild code school</a></p>
					<div class="blue-divider"></div>
					<p>le lien vers <a href="https://github.com/Madi-Naf/mdp-space" target="_blanck">Github</a></p>
				</div>
			</div>
			
			<div class="col-1 col-lg-4 col-xl-4">
				<div class="education-block">
					<div>
						<img class="project-logo" src="https://i.postimg.cc/Jzk8m4SX/candy-hunter.jpg" alt="mdp.space logo">
					</div>
					<h4>CandyHunter</h4>
					<div class="blue-divider"></div>
					<p>CandyHunter est notre projet réalisé en 28h pour le Hackathon à la <a href="https://wildcodeschool.fr/">wild code school</a></p>
					<div class="blue-divider"></div>
					<p>le lien vers <a href="https://github.com/Madi-Naf/candyhunter" target="_blanck">Github</a></p>
					<p>le lien vers le 
						<%= link_to "Certificat", "/candyhackathon.pdf" , target: "_blank" %>
					</p>
				</div>
			</div>

		</div>				
	</div>
</section>