/*-------------------PORTFOLIO--------------------*/
.bg-blue, #portfolio{
	background-color:#0BC8B6 !important; 
}
#portfolio .heading h2{
	color: #fff;
}
#portfolio .github img{
	width: 70%;
	filter: grayscale(100%);
	/*  pour chrome*/
	-webkit-filter: grayscale(100%);
}
#portfolio .github img:hover{
	filter: none;
		/*  pour chrome*/
	-webkit-filter: none;
}
.content-center{

	display: flex;
	justify-content: center;	
}

.mygithub{
	margin: auto !important;
    width: 50% !important;
}