/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*---------------GENERAL---------------*/
body{
	font-family: 'Lato', 'sans-serif';
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}
img{
	max-width: 100%;
	height: auto;
}
ul li{
	list-style: none;
}
section{
	padding:45px 0 80px 0;
}
section .heading{
	text-align: center;
	padding-bottom: 40px;
}
section .heading h2{
	text-transform: uppercase;
}
.blue-divider{
	width: 150px;
	height: 2px;
	background-color:  #0BC8B6;
	margin:0 auto;
}
.white-divider{
	width: 150px;
	height: 2px;
	background-color: #0BC8B6;
	margin:0 auto;
}