<!--- ----------------------------------------FOOTER------------------------------------------ -->
	<footer class="text-center">
		<a href="#about">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
			<h5>© MADI Nafindra abdou</h5>
	</footer>